<h1>Welcome to the Frisbot</h1>

<p>No games currently scheduled</p>

<p>
  <a href='#' ui-sref='login'>Log In</a> |
  <a href='#' ui-sref='signup'>Sign Up</a>
</p>

<h3>What's the Frisbot, you ask?</h3>

<p>Frisbot 3000 is a very friendly game of ultimate frisbee, generally played Saturday mornings on the north side of Chicago. All skill levels are welcome, and we'll gladly teach you how to play (the rules are ridiculously simple). The most important thing is that you're out to run around in the sun and have a good time</p>

<p>Signing up for the Frisbot means that when we schedule new games, you'll get an email notice with links to RSVP for the game. If we have enough players before the polling cutoff (usually looking for 6 players by 11pm Friday night) then Game On. Otherwise, no game. We won't do anything else with your email address. Pinky swear.</p>